<br><br><br><div class="container my-5 p-5 z-depth-1">


    <!--Section: Content-->
    <section class="text-center dark-grey-text">
      
      <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Team</h6>
      <!-- Section heading -->
      <h2 class="font-weight-bold text-center dark-grey-text pb-2">Our Designers</h2>
      <hr class="w-header my-4">
      <!-- Section description -->
      <p class="lead text-center text-muted pt-2 mb-5"></p>
    
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-5">
  
          <div class="view z-depth-1 mb-4">
            <img src="\assets\images\Team\01.jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Kushan Sandul</h6>
          <small class="text-muted">Architecture</small>
          <p class="mt-3 text-muted"></p>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            <li><i class="fab fa-twitter mx-2"></i></li>
            <li><i class="fab fa-facebook-f mx-2"></i></li>
            <li><i class="fab fa-instagram mx-2"></i></li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-5">
  
          <div class="view z-depth-1 mb-4">
            <img src="\assets\images\Team\02.jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Chalani Chanchala</h6>
          <small class="text-muted">Architecture</small>
          <p class="mt-3 text-muted"></p>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            <li><i class="fab fa-twitter mx-2"></i></li>
            <li><i class="fab fa-facebook-f mx-2"></i></li>
            <li><i class="fab fa-instagram mx-2"></i></li>
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-4 mb-5">
  
          <div class="view z-depth-1 mb-4">
            <img src="\assets\images\Team\03.jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Maleesha Nimanthi</h6>
          <small class="text-muted">Interior Designer</small>
          <p class="mt-3 text-muted"></p>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            <li><i class="fab fa-twitter mx-2"></i></li>
            <li><i class="fab fa-facebook-f mx-2"></i></li>
            <li><i class="fab fa-instagram mx-2"></i></li>
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-4 mb-">
  
          <div class="view z-depth-1 mb-4">
            <img src="\assets\images\Team\04.jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Priyanindu Munasinghe</h6>
          <small class="text-muted">Landscape Designer</small>
          <p class="mt-3 text-muted"></p>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            <li><i class="fab fa-twitter mx-2"></i></li>
            <li><i class="fab fa-facebook-f mx-2"></i></li>
            <li><i class="fab fa-instagram mx-2"></i></li>
          </ul>
  
        </div>
        <div class="col-md-4 mb-5">
  
          <div class="view z-depth-1 mb-4">
            <img src="\assets\images\Team\05.jpg" class="img-fluid mx-auto" alt="smaple image">
          </div>
          <h6 class="font-weight-bold">Anuradha Maduwanthi</h6>
          <small class="text-muted">Designer</small>
          <p class="mt-3 text-muted"></p>
          <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
            <li><i class="fab fa-twitter mx-2"></i></li>
            <li><i class="fab fa-facebook-f mx-2"></i></li>
            <li><i class="fab fa-instagram mx-2"></i></li>
          </ul>
  
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
      
    </section>
    <!--Section: Content-->
  
  
  </div>      
