<div class="navbar"> 
  
  <nav class="navbar navbar-light bg-light">
  <!-- <div class="container"> -->
    <a class="navbar-brand" href="#">
      <img
        src="\assets\images\logo.jpg"
        height="90"
        alt="MDB Logo"
        loading="lazy"
      />
    </a>
  
<b><ul>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="team">Team</a></li>
      <li><a routerLink="card">Projects</a></li>
      <li><a routerLink="services">Services</a></li>    
      <li routerLinkActive="carousel"><a routerLink="carousel">Home</a></li>
  </ul> </b>
<!-- </div> -->
</nav>
</div>


<router-outlet></router-outlet>
