.one {
    float: left;
    width: 100%;
    height: 10cm;
    padding-left: 2cm;
    padding-right: 2cm;
}
.two{
    width: 100%;
    height: 20cm;
    padding-left: 2cm;
    padding-right: 2cm;
}
p{
    font-size: x-large;
}
h5 {
    font-size: x-large;
    font-style: bold;
}
